.slots {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 95%;
}
.city-bike-column:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 0;
}
.city-bike-column:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-right: 0;
}
.city-bike-column {
  background: #ddd;
  background-clip: content-box;
  display: inline-block;
  height: 8px;
  padding-left: 1px;
  padding-right: 1px;
  width: 2%;
}
.city-bike-column.available {
  background: #fbb800;
  background-clip: content-box;
}
